.search {
  width: calc(1278/1440 * 100vw);
  max-width: 1278px;
  margin: 90px auto 70px;

  position: relative;


  input {
    height: 73px;
    background-color: var(--color-primary);
    color: var(--color-accent);

    border: none;
    font: var(--font-big);
  }

  input:focus {
    outline-color: var(--color-accent);
  }

  input::placeholder {
    color: var(--color-accent);
    opacity: 0.4;
    font: var(--font-middle);
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
}