<ul class="users-list">
  <li *ngFor="let user of users; let i = index">
    <app-user-item [user]="user"></app-user-item>
  </li>
  <li *ngIf="isAddingNewUser">
    <app-add-user></app-add-user>
  </li>
</ul>

<app-button
  class="user-btn"
  view="warn"
  *ngIf="isAddingNewUser; else new"
  (btnClick)="handleChangeIsAddingNewUser()"
  >Отменить</app-button
>
<ng-template #new>
  <app-button
    class="user-btn"
    view="info"
    (btnClick)="handleChangeIsAddingNewUser()"
    >Создать</app-button
  >
</ng-template>
