@font-face {
  font-family: 'Cherry Bomb';
  src: url('CherryBomb-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  src: url('OpenSansHC-Bold.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./NotoSans-Light.ttf');
  font-style: normal;
  font-weight: 400;
}