<header class="header">
  <div class="brand">
    <h1 class="title">MeetUps</h1>
    <div class="logos">
      <img
        class="logo"
        src="assets/icons/philosophy.svg"
        alt="philosophy-logo"
      />
      <img class="logo" src="assets/icons/league.svg" alt="league-logo" />
    </div>
  </div>

  <nav class="menu" *ngIf="authService.isAuth">
    <ul class="links">
      <li>
        <a
          [routerLink]="paths.MEETUPS"
          class="nav-link"
          routerLinkActive="active"
          >Все митапы</a
        >
      </li>
      <li>
        <a
          [routerLink]="paths.MY_MEETUPS"
          class="nav-link"
          routerLinkActive="active"
          >Мои митапы</a
        >
      </li>
      <li *ngIf="authService.isAdmin">
        <a
          [routerLink]="paths.DASHBOARD_USERS"
          class="nav-link"
          routerLinkActive="active"
          >Пользователи</a
        >
      </li>
    </ul>
  </nav>

  <ul class="controls" *ngIf="authService.isAuth; else unAuthControl">
    <li>
      <app-button-icon
        icon="settings"
        (btnClick)="toggleShowSettings()"
      ></app-button-icon>
    </li>
    <li>
      <app-button-icon
        icon="logout"
        (btnClick)="authService.logout()"
      ></app-button-icon>
    </li>
  </ul>

  <ng-template #unAuthControl>
    <ul class="controls">
      <li>
        <app-button-icon
          icon="user"
          [routerLink]="paths.LOGIN"
        ></app-button-icon>
      </li>
    </ul>
  </ng-template>

  <div class="theme-toggler" *ngIf="showSettings">
    <input
      type="checkbox"
      id="darkmode-toggle"
      (change)="toggleTheme()"
      [defaultChecked]="themeServ.isDarkTheme"
    />
    <label for="darkmode-toggle"></label>
  </div>
</header>
