<form class="meetup-form">
  <div class="fields">
    <div class="field">
      <label class="form-label field-name" for="title">Название:</label>
      <input class="form-control short" id="title" name="title" />
    </div>

    <div class="date-wrapper">
      <div class="field date">
        <label class="form-label field-name" for="date">Дата:</label>
        <input class="form-control" id="date" type="date" name="date" />
      </div>
      <div class="field date">
        <label class="form-label field-name" for="time">Время:</label>
        <input class="form-control" id="time" type="time" name="time" />
      </div>
    </div>

    <div class="field">
      <label class="form-label field-name" for="place">Место:</label>
      <input class="form-control short" id="place" name="place" />
    </div>

    <div class="field">
      <label class="form-label field-name" for="short-description"
        >Короткое описание:</label
      >
      <textarea
        class="form-control middle-height"
        id="short-description"
        name="short-description"
      ></textarea>
    </div>

    <div class="field">
      <label class="form-label field-name" for="description"
        >Подробное описание:</label
      >
      <textarea
        class="form-control high"
        id="description"
        name="description"
      ></textarea>
    </div>

    <div class="field">
      <label class="form-label field-name" for="audience"
        >Целевая аудитория:</label
      >
      <textarea
        class="form-control middle-height"
        id="audience"
        name="audience"
        placeholder="Аналитики, тестировщики, зумеры..."
      ></textarea>
    </div>

    <div class="field">
      <label class="form-label field-name" for="need-to-know"
        >Что надо знать?</label
      >
      <textarea
        class="form-control high"
        id="need-to-know"
        name="need-to-know"
        placeholder="принципы строгой типизации"
      ></textarea>
    </div>

    <div class="field">
      <label class="form-label field-name" for="will-be">Что будет?</label>
      <textarea
        class="form-control high"
        id="will-be"
        name="will-be"
        placeholder="Научу готовить пиццу"
      ></textarea>
    </div>

    <div class="field">
      <label class="form-label field-name" for="reason"
        >Почему надо обязательно прийти?</label
      >
      <textarea
        class="form-control middle-height"
        id="reason"
        name="reason"
        placeholder="Потому что гладиолус"
      ></textarea>
    </div>
  </div>
  <div class="form-btns">
    <app-button view="warn" (btnClick)="click()"> Удалить </app-button>
    <app-button view="secondary" (btnClick)="click()"> Отмена </app-button>
    <app-button view="primary" (btnClick)="click()"> Сохранить </app-button>
  </div>
</form>
