<div class="app">
  <!--<div class="logo">MeetUps</div>
  <hr>
  <img src="../assets/icons/league.svg" alt="logo1">
  <img src="../assets/icons/philosophy.svg" alt="logo1">
  <hr>
  <div class="title">React vs Angular</div>
  <div class="big-text">Большой текст Большой текст</div>
  <div class="middle-text">Средний текст средний текст</div>
  <div class="little-text">Маленький текст маленький текст</div>
  <hr>

  <div [style]="{ display: 'flex', gap: '10px' }">
    <app-button view="primary">Я пойду!</app-button>
    <app-button view="secondary">Не смогу пойти</app-button>
    <app-button view="warn">Удалить</app-button>
    <app-button view="info">Создать митап</app-button>
  </div>
  <hr>-->

  <app-login></app-login>

  <!--<hr>-->
  <!--<div [style]="{ display: 'flex', gap: '10px' }">
    <app-button-icon icon="user"></app-button-icon>
    <app-button-icon icon="settings"></app-button-icon>
    <app-button-icon icon="logout"></app-button-icon>
    <app-button-icon icon="loupe"></app-button-icon>
    <app-button-icon icon="cross" [bordered]="true"></app-button-icon>
    <app-button-icon icon="pen" [bordered]="true"></app-button-icon>
  </div>
  <hr>
  <app-meetup></app-meetup>
  <hr>
  <app-meetups-list></app-meetups-list>-->
</div>