<div class="app">
  <div class="logo">MeetUps</div>
  <hr>
  <img src="../assets/icons/league.svg" alt="logo1">
  <img src="../assets/icons/philosophy.svg" alt="logo1">
  <hr>
  <div class="title">React vs Angular</div>
  <div class="big-text">Большой текст Большой текст</div>
  <div class="middle-text">Средний текст средний текст</div>
  <div class="little-text">Маленький текст маленький текст</div>
  <hr>
  <img src="../assets/icons/exit.svg" alt="exit">
  <img src="../assets/icons/loupe.svg" alt="loupe">
  <img src="../assets/icons/settings.svg" alt="settings">
  <img src="../assets/icons/user-small.svg" alt="user-small">
  <img src="../assets/icons/user.svg" alt="user">
  <hr>
  <app-meetup></app-meetup>
</div>