.app {
  font: var(--font-middle);
  background-color: var(--color-background);
  min-height: 100vh;
  color: var(--color-primary);
  position: relative;
}

.modal-spinner {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  .spinner {
    scale: 2;
  }
}

.dark-theme {
  --color-default: #2C2C2C;
  --color-secondary: #4C3F78;
  --color-info: #008697;
  --color-primary: #B4B4C0;
  --color-accent: #B85526;
  --color-background: #1E1E1E;
  --color-bold: #E9E9E9;
}

.light-theme {
  --color-default: #F5F5F5;
  --color-secondary: #9d81cd;
  --color-info: #00ACC1;
  --color-primary: #a0a0a1;
  --color-accent: #FF5722;
  --color-background: #FFFFFF;
  --color-bold: #212121;
}
