<div class="home-page">
  <header>
    <h2>Добро пожаловать!</h2>
    <p>Ваша платформа для организации и участия в митапах</p>
    <p>*Для регистрации обратитесь к администратору</p>
  </header>
  
  <section>
    <h3>Что мы предлагаем:</h3>
    <ul>
      <li>
        Подписка на митапы: Легко следите за интересными событиями, подписывайтесь
        на митапы и получайте уведомления о последних обновлениях.
      </li>
      <li>
        Создание митапов: Самостоятельно создавайте свои митапы, определяйте дату,
        время, место и предлагайте интересные темы для обсуждения.
      </li>
      <li>
        Редактирование своих митапов: Вносите изменения в свои митапы по мере
        необходимости, обновляйте информацию, чтобы всегда быть актуальным.
      </li>
      <li>
        Администраторские возможности: Если вы являетесь администратором, у вас
        есть полный контроль над пользователями. Вы можете удалить пользователей,
        изменять их информацию и роли, а также добавлять новых пользователей.
      </li>
      <li>
        Поиск по митапам: Используйте нашу функцию поиска, чтобы быстро найти
        митапы по ключевым словам и участвовать в самых интересных событиях.
      </li>
    </ul>
  </section>
  
  <footer>
    <p>Наш сайт - ваш путь к интересным встречам и обмену знаниями!</p>
  </footer>
</div>
