<form class="user-card">
  <div class="field">
    <input type="email" class="form-control" />
  </div>
  <div class="field">
    <input type="password" class="form-control" />
  </div>
  <div class="field">
    <select class="form-select">
      <option value="user" selected>user</option>
      <option value="admin">admin</option>
    </select>
  </div>
  <div class="field user-action">
    <app-button-icon icon="cross" [bordered]="true"></app-button-icon>
    <app-button-icon icon="pen" [bordered]="true"></app-button-icon>
  </div>
</form>
