<form class="user-card" [formGroup]="form" [id]="user?.id">
  <div class="field">
    <input
      type="email"
      class="form-control"
      name="email"
      formControlName="email"
      autocomplete="email"
      [class.is-invalid]="!isValidField('email')"
    />
  </div>
  <div class="field">
    <input
      type="password"
      name="password"
      class="form-control"
      [class.is-invalid]="!isValidField('password')"
      formControlName="password"
    />
  </div>
  <div class="field">
    <select class="form-select" formControlName="role" name="select">
      <option value="user" selected>user</option>
      <option value="admin">admin</option>
    </select>
  </div>
  <div class="field user-action">
    <app-button-icon
      icon="cross"
      [bordered]="true"
      (btnClick)="handleRemove()"
    ></app-button-icon>
    <app-button-icon
      icon="pen"
      [bordered]="true"
      (btnClick)="handleSubmit()"
      [isDisabled]="form.pristine"
    ></app-button-icon>
  </div>
</form>
